<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styleAccount.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleEMI.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleLoan.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleSentiment.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="static/styleServices.css">

    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    
    <h1 class="heading">Our Services</h1>
    <main>
        <div class="card-container">
            <a href="http://127.0.0.1:5001/" class="card">
                <h2>Bank Account Recommendation System</h2>
                <p>Find tailored loan options based on your preferences and criteria.</p>
            </a>
            <a href="http://127.0.0.1:5003/" class="card">
                <h2>Loan Recommendation System</h2>
                <p>Find tailored loan options based on your preferences and criteria.</p>
            </a>
            <a href="http://127.0.0.1:5002/" class="card">
                <h2>EMI Calculator</h2>
                <p>Quickly calculate your monthly EMI and repayment plan with ease.</p>
            </a>
            <a href="http://127.0.0.1:5004/" class="card">
                <h2>Sentiment Analysis</h2>
                <p>Analyze your feedback tone to understand sentiments instantly.</p>
            </a>
            <a href="http://127.0.0.1:5005/" class="card">
                <h2>Real-Time Market Analysis</h2>
                <p>Access live market data to make informed financial decisions.</p>
            </a>
        </div>
    </main>
</body>
</html>
