<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinEase</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
</head>
<body>
<section class="header">
    <nav>
        <a href="index.html"><p>FinEase</p></a>
        <div class="menu" id="menu">
            <i class="fa fa-times" onclick="hidemenu()"></i>
            <ul>  
                <li> <a href="index.html">Home</a></li>
                <li> <a href="about.html">About Us</a></li>
                <!-- <li> <a href="emi.html">EMI Calculator</a></li> -->
                <li> <a href="contact.html">Contact</a></li>
                <li> <a href="http://127.0.0.1:5000/">Our Services</a></li>
            </ul>
        </div>
        <i class="fa fa-bars"onclick="showmenu()"></i>
    </nav>
</section>
